.User{
    flex:4;
    padding: 20px;
}
.UserTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.CreateUserButton{
    border: none;
    padding: 5px 10px;
    background-color: rgb(39, 218, 39);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 18px;
}
.UserContainer{
    display: flex;
    margin-top: 50px;
}
.UserShow{
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 3px 4px rgb(233, 232, 235);   
    border-radius: 10px;

}
.UserUpdate{
    flex: 2;
    margin-left: 50px;
    padding: 20px;
    box-shadow: 0px 0px 3px 4px rgb(233, 232, 235); 
   border-radius: 10px;
}
.UserShowTop{
  display: flex;
  align-items: center;
}
.UserShowTop img{
 height: 80px;
 width: 80px;
 border-radius: 100%;
}
.UserShowTopTitle{
  margin-left: 20px;
   display: flex;
   flex-direction: column;
}
.UserShowTopUsername{
   font-weight: 600;

}
.UserShowTopDesc{
   font-weight: 300;
}
.UserShowBottom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.UserShowBottomTitle{
    font-weight: 600;
    color: grey;
}
.UserShowBottomInfo{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.UserShowIcons{
    font-size: 16px !important;
}

.UserUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.UploadImg{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}
.UserUpdateForm{
    display: flex;
    justify-content: space-between;
}

.UserUpdateItem{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.UserUpdateItem>labal{
   margin-bottom: 5px;
}

.UserUpdateItemInput{
    border: none;
    border-bottom: 1px solid rgb(149, 148, 148);
    width: 250px;
    height: 30px;
}
.UserUpdateFormRight{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.UserUpdateUpload{
    align-items: center;
}
.UserUpdateUpload input{
   display: none;
   
}
.UserUpdateUpload>labal{
    margin-left: 10px;
    cursor: pointer;
}

.UserUpdateButton{
    border: none;
    background-color: rgb(120, 97, 246);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}